html {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
}

body {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Raleway", sans-serif;
}

#root,
.app {
  display: flex;
  flex-grow: 1;
}

.app {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-title {
  position: absolute;
  top: 20px;
  margin: 0;
  text-align: center;
  color: lightgray;
  z-index: 10;
}

.announcement {
  position: absolute;
  margin: 0;
  font-size: 30px;
  color: lightgray;
  z-index: 10;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.images-wrapper--bottom-margin {
  margin-bottom: 20px;
}

.images-wrapper__item {
  display: flex;
  flex-direction: column;
}

.images-wrapper__item button {
  margin-top: 10px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
